Repository abossenbroek/abossenbroek-claude-plugins: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-plugin-schemas, check-config-hygiene, validate-agent-files, validate-claude-code

validate-plugin-schemas:
  name: Validate plugin schemas
  entry: python scripts/validate_plugin_schemas.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - jsonschema>=4.0.0

check-config-hygiene:
  name: Check config hygiene
  entry: python scripts/check_config_hygiene.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

validate-agent-files:
  name: Validate agent files exist
  entry: python scripts/validate_agent_files.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

validate-claude-code:
  name: Validate against Claude Code
  entry: python scripts/validate_against_claude_code.py
  language: python
  pass_filenames: false
  stages:
  - pre-push

refactor: switch to conventional-pre-commit for commit linting
  .pre-commit-config.yaml
  commitlint.config.js
Due: none

docs: rewrite changelog in top-engineer style
  CHANGELOG.md
Due: none

feat(context-engineering): add shared state system (HO-001)
  context-engineering/scripts/state_manager.py
  context-engineering/templates/pydantic-model.py
  src/context_engineering/__init__.py
  src/context_engineering/models/__init__.py
  src/context_engineering/models/analysis_outputs.py
  src/context_engineering/models/grounding_outputs.py
  src/context_engineering/models/improvement_outputs.py
  src/context_engineering/models/state.py
  src/context_engineering/models/synthesis_outputs.py
  tests/test_context_engineering_models.py
  tests/test_context_engineering_state.py
Due: none

feat(context-engineering): add file cache CLI for lazy loading (FW-002)
  context-engineering/scripts/file_cache.py
Due: none

refactor(context-engineering): update plugin-analyzer to use file cache (FW-002)
  context-engineering/coordinator-internal/plugin-analyzer.md
Due: none

style(context-engineering): apply ruff formatting to scripts
  context-engineering/scripts/file_cache.py
  context-engineering/scripts/state_manager.py
Due: none

feat(context-engineering): add Python validation hook (AG-001)
  context-engineering/hooks/hooks.json
  context-engineering/hooks/validate-agent-output.py
  tests/test_context_engineering_analysis.py
  tests/test_context_engineering_models.py
  tests/test_context_engineering_synthesis.py
Due: none

refactor(context-engineering): split coordinator into phase executors (OR-001)
  context-engineering/.claude-plugin/plugin.json
  context-engineering/agents/improve-coordinator.md
  context-engineering/coordinator-internal/phases/analyze-phase-executor.md
  context-engineering/coordinator-internal/phases/categorize-phase-executor.md
  context-engineering/coordinator-internal/phases/ground-phase-executor.md
  context-engineering/coordinator-internal/phases/improve-phase-executor.md
  context-engineering/coordinator-internal/phases/synthesize-phase-executor.md
Due: validate-plugin-schemas, check-config-hygiene, validate-agent-files, validate-claude-code

feat(context-engineering): add I/O phase executors for file discovery separation (FW-001)
  context-engineering/.claude-plugin/plugin.json
  context-engineering/coordinator-internal/phases/analysis-executor.md
  context-engineering/coordinator-internal/phases/analyze-phase-executor.md
  context-engineering/coordinator-internal/phases/file-discovery-executor.md
  context-engineering/coordinator-internal/plugin-analyzer.md
Due: validate-plugin-schemas, check-config-hygiene, validate-agent-files, validate-claude-code

feat(context-engineering): implement focus-based file filtering (CM-001)
  context-engineering/coordinator-internal/context-optimizer.md
  context-engineering/coordinator-internal/handoff-improver.md
  context-engineering/coordinator-internal/orchestration-improver.md
  context-engineering/coordinator-internal/phases/improve-phase-executor.md
  context-engineering/scripts/file_cache.py
  context-engineering/scripts/validate_improvement_output.py
  context-engineering/templates/pydantic-model.py
  src/context_engineering/__init__.py
Due: none

feat(context-engineering): add challenger agent for claim validation (OR-002)
  context-engineering/.claude-plugin/plugin.json
  context-engineering/coordinator-internal/grounding/challenger.md
  context-engineering/coordinator-internal/phases/ground-phase-executor.md
  context-engineering/hooks/validate-agent-output.py
  src/context_engineering/models/__init__.py
  src/context_engineering/models/grounding_outputs.py
  tests/test_context_engineering_grounding.py
Due: validate-plugin-schemas, check-config-hygiene, validate-agent-files, validate-claude-code

docs(context-engineering): document NOT PROVIDED sections (CM-002)
  context-engineering/coordinator-internal/audit-synthesizer.md
  context-engineering/coordinator-internal/context-flow-mapper.md
  context-engineering/coordinator-internal/context-optimizer.md
  context-engineering/coordinator-internal/grounding/consistency-checker.md
  context-engineering/coordinator-internal/grounding/pattern-checker.md
  context-engineering/coordinator-internal/grounding/risk-assessor.md
  context-engineering/coordinator-internal/grounding/token-estimator.md
  context-engineering/coordinator-internal/handoff-improver.md
  context-engineering/coordinator-internal/improvement-synthesizer.md
  context-engineering/coordinator-internal/orchestration-improver.md
  context-engineering/coordinator-internal/plan-analyzer.md
  context-engineering/coordinator-internal/plugin-analyzer.md
Due: none

feat(context-engineering): release v1.3.0 with 8 architectural fixes
  CHANGELOG.md
  context-engineering/.claude-plugin/plugin.json
Due: validate-plugin-schemas, check-config-hygiene, validate-agent-files, validate-claude-code

docs: improve repository documentation and orchestration guidance
  CLAUDE.md
Due: none

feat: standardize validation hooks with YAML output and multi-agent orchestration
  CLAUDE.md
  context-engineering/hooks/validate-agent-output.py
  red-agent/CLAUDE.md
  red-agent/hooks/validate-agent-output.py
  tests/conftest.py
  tests/test_error_message_parsing.py
  tests/test_hook_output_format.py
  tests/test_hook_retry_flow.py
Due: none

docs: update changelog with validation hooks standardization
  CHANGELOG.md
Due: none

docs: add CI verification guidance to Git workflow
  CLAUDE.md
  tests/test_error_message_parsing.py
  tests/test_hook_output_format.py
  tests/test_hook_retry_flow.py
Due: none

feat(red-agent): implement PR red-team analysis v1.3.0 (Phases 1-3)
  red-agent/.claude-plugin/plugin.json
  red-agent/agents/pr-analysis-coordinator.md
  red-agent/commands/pr-redteam-branch.md
  red-agent/commands/pr-redteam-diff.md
  red-agent/commands/pr-redteam-staged.md
  red-agent/commands/pr-redteam-working.md
  red-agent/coordinator-internal/change-scope-analyzer.md
  red-agent/coordinator-internal/code-context-attacker.md
  red-agent/coordinator-internal/code-reasoning-attacker.md
  red-agent/coordinator-internal/diff-analyzer.md
  red-agent/coordinator-internal/pr-insight-synthesizer.md
  red-agent/coordinator-internal/security-prober.md
  src/red_agent/models/__init__.py
  src/red_agent/models/pr_analysis.py
  src/red_agent/scripts/validate_agent_output.py
Due: validate-plugin-schemas, check-config-hygiene, validate-agent-files, validate-claude-code

feat(red-agent): add large PR support with user scoping and cascading (Phase 4)
  red-agent/agents/pr-analysis-coordinator.md
  red-agent/commands/pr-redteam-branch.md
  red-agent/commands/pr-redteam-diff.md
  red-agent/commands/pr-redteam-staged.md
  red-agent/commands/pr-redteam-working.md
  red-agent/coordinator-internal/pr-analysis-coordinator-sub.md
Due: validate-agent-files

feat(red-agent): add optional PAL integration for enhanced analysis (Phase 5)
  red-agent/agents/pr-analysis-coordinator.md
  red-agent/coordinator-internal/diff-analyzer.md
  red-agent/coordinator-internal/security-prober.md
Due: validate-agent-files

test(red-agent): add comprehensive PR analysis test suite (Phase 6)
  red-agent/README.md
  tests/conftest.py
  tests/test_pr_analysis.py
Due: none

chore(red-agent): finalize v1.3.0 release
  .claude-plugin/marketplace.json
  src/red_agent/models/pr_analysis.py
  tests/test_pr_analysis.py
Due: validate-plugin-schemas, check-config-hygiene, validate-claude-code

docs: add v1.3.0 release to CHANGELOG
  CHANGELOG.md
Due: none

feat(red-agent): add fix-orchestrator with 6-stage execution pipeline
  red-agent/.claude-plugin/plugin.json
  red-agent/agents/fix-orchestrator.md
  red-agent/commands/redteam-fix-orchestrator.md
  red-agent/coordinator-internal/fix/fix-applicator.md
  red-agent/coordinator-internal/fix/fix-committer.md
  red-agent/coordinator-internal/fix/fix-phase-coordinator.md
  red-agent/coordinator-internal/fix/fix-planner-v2.md
  red-agent/coordinator-internal/fix/fix-reader.md
  red-agent/coordinator-internal/fix/fix-red-teamer.md
  red-agent/coordinator-internal/fix/fix-validator.md
  red-agent/hooks/validate-agent-output.py
Due: validate-plugin-schemas, check-config-hygiene, validate-agent-files, validate-claude-code

refactor(red-agent): extract fix orchestration models to centralized location
  red-agent/hooks/validate-agent-output.py
  src/red_agent/models/__init__.py
  src/red_agent/models/fix_orchestration.py
Due: none

docs(red-agent): clarify PAL dependency analysis as future enhancement
  red-agent/agents/fix-orchestrator.md
Due: validate-agent-files

docs(red-agent): add comprehensive PAL integration guidelines and test fixtures
  red-agent/docs/pal-integration.md
  tests/fixtures/pal_mock.py
Due: none

docs(red-agent): add ultrathink architecture and troubleshooting guides
  red-agent/docs/troubleshooting.md
  red-agent/docs/ultrathink-architecture.md
Due: none

style(tests): fix ruff formatting in pal_mock.py
  tests/fixtures/pal_mock.py
Due: none

feat(red-agent): add jscpd integration with comprehensive documentation
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  red-agent/.jscpd.json
  red-agent/README.md
  red-agent/agents/pr-analysis-coordinator.md
  red-agent/coordinator-internal/duplicate-code-analyzer.md
  red-agent/docs/README.md
  red-agent/docs/attack-taxonomy.md
  red-agent/docs/fix-orchestrator.md
  red-agent/docs/github-integration.md
  red-agent/docs/jscpd-security.md
  red-agent/docs/usage-guide.md
  red-agent/package-lock.json
  red-agent/package.json
  scripts/verify_npm_integrity.py
  src/red_agent/models/enums.py
  tests/test_jscpd_availability.py
  tests/test_pydantic_models.py
Due: validate-agent-files

fix(red-agent): address red-team analysis findings
  red-agent/coordinator-internal/duplicate-code-analyzer.md
  red-agent/docs/jscpd-security.md
  scripts/verify_npm_integrity.py
  tests/conftest.py
  tests/test_context_engineering_synthesis.py
  tests/test_jscpd_availability.py
Due: none

chore(red-agent): bump version to v1.4.0 and update CHANGELOG
  .claude-plugin/marketplace.json
  CHANGELOG.md
  red-agent/.claude-plugin/plugin.json
Due: validate-plugin-schemas, check-config-hygiene, validate-agent-files, validate-claude-code

docs(red-agent): fix GitHub Actions integration examples
  red-agent/docs/github-integration.md
Due: none

fix(ci): correct npm integrity check and install deps for jscpd tests
  .github/workflows/ci.yml
Due: none

fix(hooks): merge validation hook changes from main
  red-agent/hooks/validate-agent-output.py
Due: none

style: apply ruff formatting to test files
  tests/conftest.py
  tests/test_jscpd_availability.py
Due: none

style: revert to pre-commit ruff v0.8.4 formatting
  tests/test_jscpd_availability.py
Due: none

docs(red-agent): improve GitHub integration workflows with clear worker pattern
  red-agent/docs/github-integration.md
Due: none

Path conditions:
  validate-plugin-schemas: any of: \.claude-plugin/(plugin|marketplace)\.json$ and \.json$
  check-config-hygiene: any of: \.claude-plugin/(plugin|marketplace)\.json$ and \.json$
  validate-agent-files: any of: (\.claude-plugin/plugin\.json|agents/.*\.md|commands/.*\.md)$
  validate-claude-code: any of: \.claude-plugin/(plugin|marketplace)\.json$
